.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px 0;
  background-color: #1565c0;
  color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin-top: 30px;
}

.new-todo {
  padding-top: 20px;
}
